<p id="notice"><%= notice %></p>

<p>
  <strong>Month:</strong>
  <%= @senior_checklist.month %>
</p>

<%= link_to 'Edit', edit_senior_checklist_path(@senior_checklist) %> |
<%= link_to 'Back', senior_checklists_path %>
